.sidebar-extended {
    grid-area: sidebar-extended;
    // height: 100vh;
    // margin: var(--space-s);
    // border: var(--border-dark);
    // border-radius: var(--border-radius);
    background-color: var(--color-secondary-bg);
    padding: var(--space-l);
    // width: 250px;
}

